  <!-- header.ejs | Ignacio Arce | 301264338 | 10/10/2023 -->
  <nav id="navbar">
    <img src="/images/logo.png" alt="Custom Logo" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <p style="text-align: center;">Express Portfolio | Ignacio Arce | 301264338</p>  
  
